<mat-progress-bar
  mode="indeterminate"
  color="accent"
  *ngIf="progressBar"
></mat-progress-bar>
<div class="list-container" *ngIf="user">
  <button mat-flat-button color="accent" (click)="openEdit()">
    <mat-icon>add</mat-icon>
    Új
  </button>
  <mat-form-field class="search">
    <mat-label>Keresés</mat-label>
    <mat-icon matTextPrefix>search</mat-icon>
    <input #search matInput type="text" (input)="onSearch($event)" />
  </mat-form-field>
  <table
    mat-table
    matSort
    [dataSource]="filteredTableData"
    *ngIf="filteredTableData.data.length > 0"
    (matSortChange)="sortData()"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="name"
        sortActionDescription="Rendezés név alapján"
      >
        Név
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnsToDisplay"
      (click)="navigateToPreview(row)"
    ></tr>
  </table>
</div>
<div
  class="list-container"
  *ngIf="filteredTableData.data.length === 0 && tableData.data.length !== 0"
>
  Nincs a keresésnek megfelelő elem!
</div>
<div style="height: 48px"></div>
