<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav
    id="sidenav"
    #sidenav
    mode="side"
    position="start"
    fixedInViewport="true"
  >
    <div>
      <a *ngIf="user" routerLink="/member/list">Résztvevők</a>
      <a *ngIf="user" routerLink="/group/list">Csoportok</a>
      <a *ngIf="user" routerLink="/receipt/list">Nyugták</a>
      <a *ngIf="!user" routerLink="/receipt/new">Új nyugta</a>
      <a *ngIf="!user" routerLink="/auth/login">Bejelentkezés</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button fxHide.gt-xs mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/home">Nyugtafelosztó</a>
      <span></span>
      <a *ngIf="localUser" routerLink="/member/list" fxHide.xs>Résztvevők</a>
      <a *ngIf="localUser" routerLink="/group/list" fxHide.xs>Csoportok</a>
      <a *ngIf="localUser" routerLink="/receipt/list" fxHide.xs>Nyugták</a>
      <a *ngIf="!localUser" routerLink="/receipt/new" fxHide.xs>Új nyugta</a>
      <a *ngIf="!localUser" routerLink="/auth/login" fxHide.xs>Bejelentkezés</a>
      <img *ngIf="localUser" [matMenuTriggerFor]="menu" [src]="image" alt="Profilkép" />
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile">Profil</button>
        <button mat-menu-item routerLink="/home" (click)="logOut()">
          Kijelentkezés
        </button>
      </mat-menu>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
