<div mat-dialog-title>Jelszó visszaállítása</div>
<mat-dialog-content class="dialog-container">
  <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label for="email">E-mail</mat-label>
      <input matInput type="text" formControlName="email" />
      <mat-error
        *ngIf="passwordResetForm.controls['email'].errors?.['required']"
        >Kérem adja meg az e-mail címét!</mat-error
      >
      <mat-error
        *ngIf="passwordResetForm.controls['email'].errors?.['wrong']"
        >Helytelen e-mail cím!</mat-error
      >
    </mat-form-field>
    <div class="buttons">
      <button mat-stroked-button color="accent" (click)="close()" type="button">
        Mégsem
      </button>
      <button
        mat-flat-button
        color="accent"
        type="submit"
        [disabled]="!passwordResetForm.valid"
      >
        Küldés
      </button>
    </div>
  </form>
</mat-dialog-content>
