tr[mat-row] {
  cursor: pointer;
}

td {
  max-width: 250px;
}

tr[mat-row]:hover {
  background-color: whitesmoke;
}

button {
  display: block;
  margin: 24px auto;
}

mat-icon {
  margin-right: 0 !important;
}

@media only screen and (max-width: 550px) {
    td {
        max-width: 30vw;
    }
}