<div class="list-container" *ngIf="user">
  <button mat-flat-button color="accent" routerLink="/receipt/new">
    <mat-icon>add</mat-icon>
    Új
  </button>
  <table
    mat-table
    *ngIf="this.tableData && this.tableData[0]"
    [dataSource]="tableData"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="store">
      <th mat-header-cell *matHeaderCellDef>Bolt</th>
      <td mat-cell *matCellDef="let element">{{ element.store }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Dátum</th>
      <td mat-cell *matCellDef="let element">{{ element.formattedDate }}</td>
    </ng-container>
    <ng-container matColumnDef="sum">
      <th mat-header-cell *matHeaderCellDef>Összeg</th>
      <td mat-cell *matCellDef="let element">
        {{ element.sum }} {{ element.currency.symbol }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay" (click)="navigateToPreview(row)"></tr>
  </table>
</div>
<div class="list-container" *ngIf="!user">
  A csoportok használatához jelentkezz be!
</div>
<div style="height: 48px"></div>
