.name {
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

table {
  margin-top: 32px;
}

@media only screen and (max-width: 550px) {
  .name {
    max-width: 60vw;
  }

  .empty {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media only screen and (max-width: 360px) {
  .name {
    max-width: 50vw;
  }
}