.header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 48px;

  div {
    margin-top: auto;
    margin-bottom: auto;
  }

  button {
    margin-top: 0;
  }
}

.empty {
  margin-top: 24px;
}

table {
  margin-top: 32px;
}

@media only screen and (max-width: 550px) {
  .header,
  .empty {
    margin-left: 24px;
    margin-right: 24px;
  }
}
