@use "@angular/material" as mat;
@import "../../../customTheme.scss";

::ng-deep .mat-datepicker-toggle {
  color: mat.get-color-from-palette($accent-palette, default) !important;
}

.container {
  width: 500px;
  margin: 48px auto;
}

form {
  display: flex;
  flex-direction: column;
}

button[type="submit"] {
  margin-top: 20px;
  display: block;
  margin-left: auto !important;
}

.col-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  mat-form-field {
    width: 48%;
  }
}

.short {
  width: 48%;
}

fieldset {
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid mat.get-color-from-palette($accent-palette, 400) !important;

  mat-form-field:not(.short) {
    width: 100%;
  }

  button {
    display: block;
    margin-left: auto;
  }
}

.members {
  width: 48%;

  mat-form-field {
    width: 100%;
  }
}

.error {
  display: block;
  font-size: 12px;
  padding: 0 16px;
  position: relative;
  top: -22px;
  height: 0;
}

.error-field {
  mat-label {
    color: #f44336;
  }
}

@media only screen and (max-width: 550px) {
  .container {
    width: 90vw;
  }

  .short {
    width: 100%;
  }

  .col-fields mat-form-field,
  .members {
    width: 100%;
  }
}
