<mat-progress-bar
  mode="indeterminate"
  color="accent"
  *ngIf="progressBar"
></mat-progress-bar>
<div class="container">
  <form [formGroup]="receiptForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label for="store">Bolt</mat-label>
      <input matInput type="text" formControlName="store" />
      <mat-error *ngIf="receiptForm.controls['store'].errors?.['maxlength']"
        >A bolt maximum 100 karakter hosszú lehet!</mat-error
      >
    </mat-form-field>
    <div class="col-fields">
      <mat-form-field>
        <mat-label for="date">Dátum</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker color="accent"></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="currency">Pénznem</mat-label>
        <input
          #currencyInput
          matInput
          type="text"
          formControlName="currency"
          [matAutocomplete]="auto"
          (input)="filter()"
          (focus)="filter()"
        />
        <mat-error *ngIf="receiptForm.controls['currency'].errors?.['required']"
          >Kérem adjon meg egy pénznemet!</mat-error
        >
        <mat-autocomplete
          requireSelection
          #auto="matAutocomplete"
          [displayWith]="displayCurrency"
        >
          <mat-option
            *ngFor="let currency of filteredCurrencies; trackBy: trackOption"
            [value]="currency"
          >
            <span> {{ currency.name }} ({{ currency.symbol }}) </span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Résztvevők</mat-label>
        <mat-chip-grid #chipGrid aria-label="Résztvevők kiválasztása">
          <mat-chip-row
            *ngFor="
              let selected of getMembersFormArray().controls;
              let i = index
            "
            (removed)="removeMember(i)"
          >
            {{ uid ? selected.value.name : selected.value }}
            <button
              matChipRemove
              [attr.aria-label]="
                uid ? selected.value.name : selected.value + ' törlése'
              "
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input
          *ngIf="uid"
          #memberInput
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addMember($event)"
          [matAutocomplete]="autoMember"
          (input)="filterMember($event)"
          (focus)="filterMember($event)"
        />
        <input
          *ngIf="!uid"
          #memberInput
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addMemberWithoutUser($event)"
        />
        <mat-autocomplete
          #autoMember="matAutocomplete"
          requireSelection
          (optionSelected)="selectedMember($event)"
        >
          <mat-option
            *ngFor="let el of filteredMembers; trackBy: trackPayer"
            [value]="el"
          >
            <span>
              {{ el.name }}
            </span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="paid"> Fizetett </mat-label>
        <mat-select formControlName="paid">
          <mat-option
            *ngFor="let el of receiptForm.get('members')?.value"
            [value]="uid ? el.id : el"
            >{{ uid ? el.name : el }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="receiptForm.controls['paid'].errors?.['required']"
          >Kérem adja meg, ki fizetett!</mat-error
        >
      </mat-form-field>
    </div>
    <div formArrayName="products">
      <fieldset
        *ngFor="let products of getProducts(); let i = index"
        [formGroupName]="i"
      >
        <mat-form-field>
          <mat-label for="name">Név</mat-label>
          <input matInput type="text" formControlName="name" />
          <mat-error
            *ngIf="getProductAt(i).controls['name'].errors?.['maxlength']"
            >A bolt maximum 100 karakter hosszú lehet!</mat-error
          >
        </mat-form-field>
        <div class="col-fields">
          <mat-form-field class="short">
            <mat-label for="piece">Darab</mat-label>
            <input matInput type="number" formControlName="piece" />
            <mat-error *ngIf="getProductAt(i).controls['piece'].errors?.['min']"
              >Kérem 0-nál nagyobb számot adjon meg!</mat-error
            >
            <mat-error
              *ngIf="getProductAt(i).controls['piece'].errors?.['pattern']"
              >Kérem egész számot adjon meg!</mat-error
            >
          </mat-form-field>
          <mat-form-field class="short">
            <mat-label for="price">Ár</mat-label>
            <input matInput type="number" formControlName="price" />
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>Fizet</mat-label>
          <mat-chip-grid #chipGrid aria-label="Fizetők kiválasztása">
            <mat-chip-row
              *ngFor="
                let selected of getPayersFormArray(i)?.controls;
                let j = index
              "
              (removed)="removePayer(i, j)"
            >
              {{ uid ? selected.value.name : selected.value }}
              <button
                matChipRemove
                [attr.aria-label]="
                  uid ? selected.value.name : selected.value + ' törlése'
                "
              >
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input
            #payerInput
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addPayer($event, i)"
            [matAutocomplete]="autoPayer"
            (input)="filterPayer($event)"
            (focus)="filterPayer($event)"
          />
          <mat-autocomplete
            #autoPayer="matAutocomplete"
            requireSelection
            (optionSelected)="selectedPayer($event, i)"
          >
            <mat-option
              *ngFor="let el of filteredMembersAndGroups; trackBy: trackPayer"
              [value]="el"
            >
              <span>
                {{ el.name }}
              </span>
            </mat-option>
            <mat-option
              *ngFor="
                let el of filteredMembersWithoutUser;
                trackBy: trackPayerWithoutUser
              "
              [value]="el"
            >
              <span>
                {{ el }}
              </span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button
          mat-stroked-button
          color="accent"
          (click)="removeProduct(i)"
          type="button"
        >
          <mat-icon>remove</mat-icon>
          Törlés
        </button>
      </fieldset>
      <button
        mat-stroked-button
        color="accent"
        (click)="addProduct()"
        type="button"
      >
        <mat-icon>add</mat-icon>
        Új termék
      </button>
    </div>
    <div class="buttons">
      <button
        mat-flat-button
        color="accent"
        type="submit"
        [disabled]="!receiptForm.valid"
      >
        Mentés
      </button>
    </div>
  </form>
</div>
