<div *ngIf="receipt" class="list-container">
  <div class="header">
    <div>
      <div class="store">
        {{ receipt.store }}
      </div>
      <div class="sub-header">
        {{ receipt.formattedDate }}
      </div>
    </div>
    <div>
      <button
        mat-icon-button
        (click)="deleteReceipt()"
        aria-label="Delete button"
      >
        <mat-icon color="accent">delete</mat-icon>
      </button>
      <button mat-icon-button (click)="editReceipt()" aria-label="Edit button">
        <mat-icon color="accent">edit</mat-icon>
      </button>
    </div>
  </div>
  <table
    mat-table
    *ngIf="members && members[0] && members.length === receipt.members.length"
    [dataSource]="members"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Név</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      <td mat-footer-cell *matFooterCellDef>Összesen</td>
    </ng-container>
    <ng-container matColumnDef="pays">
      <th mat-header-cell *matHeaderCellDef>Fizet</th>
      <td mat-cell *matCellDef="let element">
        {{ element.pays }} {{ receipt.currency.symbol }}
      </td>
      <td mat-footer-cell *matFooterCellDef>
        {{ receipt.sum }} {{ receipt.currency.symbol }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
  </table>
</div>
