.store {
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sub-header {
  font-size: 14px;
  font-weight: lighter;
}

table {
  margin-top: 32px;
}

td {
  max-width: 400px;
}

tr[mat-row] {
  cursor: pointer;
}

tr[mat-row]:hover {
  background-color: whitesmoke;
}

@media only screen and (max-width: 550px) {
  td, .store {
    max-width: 60vw;
  }
}