.store {
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sub-header {
  font-size: 14px;
  font-weight: lighter;
}

table {
  margin-top: 32px;
}

td {
  max-width: 400px;
}

tr[mat-row] {
  cursor: pointer;
}

.no-user {
  cursor: default !important;
}

tr[mat-row]:hover {
  background-color: whitesmoke;
}

.no-user:hover {
  background-color: initial !important;
}

@media only screen and (max-width: 550px) {
  td,
  .store {
    max-width: 60vw;
  }

  .paid {
    margin-left: 24px;
    margin-right: 24px;
  }
}
