<mat-dialog-content class="dialog-container">
  <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label for="name">Név</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-error
        *ngIf="groupForm.controls['name'].errors?.['required'] || groupForm.controls['name'].errors?.['pattern']"
        >Kérem adjon meg egy nevet!</mat-error
      >
      <mat-error *ngIf="groupForm.controls['name'].errors?.['maxlength']"
        >A név maximum 100 karakter hosszú lehet!</mat-error
      >
      <mat-error *ngIf="groupForm.controls['name'].errors?.['exists']"
        >A név már foglalt!</mat-error
      >
      <mat-error *ngIf="groupForm.controls['name'].errors?.['invalid']"
        >Ez a név nem adható csoportoknak!</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label for="members">Résztvevők</mat-label>
      <mat-chip-grid #chipGrid aria-label="Résztvevők kiválasztása">
        <mat-chip-row
          *ngFor="let selected of getMembersFormArray().controls; let i = index"
          (removed)="removeMember(i)"
        >
          {{ selected.value.name }}
          <button
            matChipRemove
            [attr.aria-label]="selected.value.name + ' törlése'"
          >
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
      <input
        #memberInput
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addMember($event)"
        [matAutocomplete]="autoMember"
        (input)="filter($event)"
        (focus)="filter($event)"
      />
      <mat-autocomplete
        #autoMember="matAutocomplete"
        class="autocomplete"
        requireSelection
        (optionSelected)="selectedMember($event)"
      >
        <mat-option
          *ngFor="let el of filteredMembers; trackBy: trackMember"
          [value]="el"
        >
          <span>
            {{ el.name }}
          </span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="buttons">
      <button
        mat-stroked-button
        color="accent"
        (click)="close(null)"
        type="button"
      >
        Mégsem
      </button>
      <button
        mat-flat-button
        color="accent"
        type="submit"
        [disabled]="!groupForm.valid"
      >
        Mentés
      </button>
    </div>
  </form>
</mat-dialog-content>
