fieldset {
  border: none;
  margin-right: 0;
  padding-right: 0;
}

fieldset mat-form-field {
  width: 100%;
}

.memberField {
  display: flex;

  mat-icon {
    margin-top: 18px;
    cursor: pointer;
  }
}

::ng-deep .mat-mdc-autocomplete-panel {
  max-height: 190px !important;
}
