<div class="list-container">
  <mat-card>
    <mat-card-header>
        <mat-card-title>{{ user?.email }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-xl-image [src]="image" />
        <div>
            <mat-card-subtitle>
              <button mat-stroked-button color="accent">Profilkép módosítása</button>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <button mat-stroked-button color="accent">Jelszó módosítása</button>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <button mat-stroked-button color="warn">Profil törlése</button>
            </mat-card-subtitle>
        </div>
    </mat-card-content>
  </mat-card>
</div>
