<mat-progress-bar
  mode="indeterminate"
  color="accent"
  *ngIf="progressBar"
></mat-progress-bar>
<div>
  <div class="form-header">Bejelentkezés</div>
  <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label for="email">E-mail</mat-label>
      <input matInput type="text" formControlName="email" />
      <mat-error *ngIf="loginForm.controls['email'].errors?.['required']"
        >Kérem adja meg az e-mail címét!</mat-error
      >
      <mat-error *ngIf="loginForm.controls['email'].errors?.['unverified']"
        >Kérem igazolja az e-mail címét!</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label for="password">Jelszó</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        aria-label="'Jelszó elrejtése'"
        [attr.aria-pressed]="hide"
        tabindex="-1"
        type="button"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.controls['password'].errors?.['required']"
        >Kérem adja meg a jelszavát!</mat-error
      >
      <mat-error *ngIf="loginForm.controls['password'].errors?.['wrong']"
        >Helytelen e-mail cím vagy jelszó!</mat-error
      >
    </mat-form-field>
    <button
      mat-button
      color="accent"
      type="button"
      id="forgot-password"
      (click)="sendPasswordResetEmail()"
    >
      Elfelejtett jelszó?
    </button>
    <mat-checkbox formControlName="rememberMe">Emlékezz rám!</mat-checkbox>
    <button
      [disabled]="!loginForm.valid"
      mat-flat-button
      color="accent"
      type="submit"
    >
      Bejelentkezés
    </button>
    <mat-divider></mat-divider>
    <a routerLink="/auth/register">Fiók létrehozása</a>
  </form>
</div>
