@use "@angular/material" as mat;
@import "@angular/material/theming";
@include mat-core();

$custom-primary: (
  50: #5a4870,
  100: #504064,
  200: #463857,
  300: #3c304b,
  400: #32283e,
  500: #282031,
  600: #1e1825,
  700: #1e1825,
  800: #141019,
  900: #0a080c,
  A100: #504064,
  A200: #463857,
  A400: #32283e,
  A700: #1e1825,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: #ddd5e0,
    600: #ddd5e0,
    700: #ddd5e0,
    800: #ddd5e0,
    900: #ddd5e0,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: #ddd5e0,
  ),
);

$custom-accent: (
  50: #9281b1,
  100: #8774aa,
  200: #7c67a2,
  300: #725d98,
  400: #68558b,
  500: #594976,
  600: #554672,
  700: #423659,
  800: #392f4c,
  900: #2f273f,
  A100: #8774aa,
  A200: #7c67a2,
  A400: #68558b,
  A700: #423659,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: #ddd5e0,
    600: #ddd5e0,
    700: #ddd5e0,
    800: #ddd5e0,
    900: #ddd5e0,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: #ddd5e0,
  ),
);

$primary-palette: mat-palette($custom-primary);
$accent-palette: mat-palette($custom-accent);

$primary: mat-palette($primary-palette, 500);
$accent: mat-palette($accent-palette, 500);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
