<div class="list-container" *ngIf="user?.admin">
  <mat-form-field class="search">
    <mat-label>Keresés</mat-label>
    <mat-icon matTextPrefix>search</mat-icon>
    <input matInput type="text" (input)="onSearch($event)" />
  </mat-form-field>
  <table
    mat-table
    matSort
    *ngIf="filteredTableData.data.length > 0"
    [dataSource]="filteredTableData"
    (matSortChange)="sortData()"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="email">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="email"
        sortActionDescription="Rendezés e-mail cím alapján"
      >
        E-mail
      </th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>
    <ng-container matColumnDef="formattedLastLogin">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="formattedLastLogin"
        sortActionDescription="Rendezés utolsó bejelentkezés alapján"
      >
        Utolsó bejelentkezés
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.formattedLastLogin }}
      </td>
    </ng-container>
    <ng-container matColumnDef="admin">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="admin"
        sortActionDescription="Rendezés adminisztrátorság alapján"
      >
        Admin
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.admin">done</mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</div>
<div
  class="list-container"
  *ngIf="filteredTableData.data.length === 0 && tableData.data.length !== 0"
>
  Nincs a keresésnek megfelelő elem!
</div>
<div style="height: 48px"></div>
